body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #625240;
}

header,
nav,
main,
footer{
    background-color: #F0F1F1;
    text-align: center;
}

header{
    background-color: white;
    text-align: center;
}

nav{
    height: 50px;
}

nav > ul > li{
    display: inline;
    list-style: none;
    padding-left: 15px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited,
a:visited{
    color: #625240;
}

nav > ul{
    margin: 0;
    padding-top: 15px;
}

main{
    height: 50px;
    margin: 15px 0;
}

main > p{
    padding-top: 15px;
}

.div_1,
.div_2,
.div_3{
    display: inline-block;
    height: 50px;
    width: 32.1%;
    background-color: #F0F1F1;
    text-align: center;
}

.div_1{
    margin-right: 15px;
}

.div_3{
    margin-left: 15px;
}

div > p{
    padding-top: 2px;
}

footer{
    height: 50px;
}

footer > p{
    padding-top: 15px;
}
